#leadership {
  margin-top: 3rem;
}
.leadership-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.leadershipInfo {
  border: 1px solid black;
  width: 15rem;
  height: 22rem;
  border-radius: 0.7rem;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.leadershipInfo img {
  width: 14.95rem;
  height: 10rem;
  border-radius: 0.7rem 0.7rem 0 0;
  object-fit: cover;
}

.leadership-details {
  padding: 0.3rem;
}

.leadership-details h4 {
  font-size: 1.3rem;
  color: rgb(76, 76, 244);
}

.leadership-details h5 {
  font-size: 1rem;
  padding: 0.3rem 0;
}
