/* #hero {
  background-image: url("../../assets/somakodi-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  height: 92vh;
}

.hero-container {
  text-align: center;
  color: white;
  padding-top: 10rem;
}

.hero-container h3 {
  font-size: 4rem;
  font-weight: 600;
}

.hero-container p {
  margin: 1rem 5rem;
  color: #d7d0d0;
  font-size: 1.6rem;
} */
