#testimonials {
  margin-top: 4rem;
}

#testimonials h3 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.testimonial-container {
  width: 60%;
  margin: 1rem auto;
}

.testimonial-content {
  border: 1px solid black;
  padding: 1rem;
}

.user-details {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.user-details img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.user-details h5 {
  font-size: 1.5rem;
}

.user-feedback h4 {
  font-size: 1.5rem;
}

.user-feedback p {
  text-align: justify;
  font-size: 1.3rem;
}
